In [2]:
import pandas as pd
df = pd.read_csv('1e6dataset.txt')

In [3]:
df.head()

,Unnamed: 0,Stable,Norbits,Mplanet,RH/a,a1,P1,e1,pomega1,inc1,...,inc2,Omega2,f2,a3,P3,e3,pomega3,inc3,Omega3,f3
0,0,True,1000000.0,0.000015,0.021544,0.050005,0.011182,0.005776,0.238565,0.004611,...,0.011851,1.631981,-5.303298,0.066488,0.017144,0.009993,-1.222611,0.013411,1.838312,5.118309
1,1,True,1000000.0,0.000015,0.021544,0.049997,0.011179,0.005504,-1.829833,0.014697,...,0.017953,-1.144552,-1.314599,0.069424,0.018292,0.011354,3.098720,0.004279,0.624017,-5.264576
2,2,False,1000000.0,0.000015,0.021544,0.047969,0.010506,0.074062,2.319163,0.006916,...,0.001915,-1.288583,-3.124795,0.066854,0.017285,0.112981,-1.368589,0.004592,0.174013,-0.644255
3,3,False,1000000.0,0.000015,0.021544,0.047724,0.010425,0.082000,2.891776,0.010222,...,0.005317,-2.319534,-2.894826,0.068622,0.017976,0.067250,-2.265014,0.006661,-0.807832,-0.372393
4,4,True,1000000.0,0.000015,0.021544,0.049995,0.011179,0.004748,2.438079,0.013462,...,0.013237,-1.016651,-3.573545,0.067997,0.017731,0.006454,2.426652,0.001658,-0.559482,-3.150335

In [4]:
df['Stable'].value_counts()

True     705
False    300
Name: Stable, dtype: int64